<div>
    <table class="table table-hover">

        {{!-- cards --}}
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col">{{card1Name}}</th>
                <th scope="col">{{card2Name}}</th>
                <th scope="col">{{card3Name}}</th>
            </tr>
        </thead>

        <tbody>

            {{!-- miles --}}
            <tr>
                <th scope="row">Miles</th>
                <td>{{card1Miles}}</td>
                <td>{{card2Miles}}</td>
                <td>{{card3Miles}}</td>
            </tr>


            {{!-- rewards --}}
            <tr>
                <th scope="row">Rewards</th>
                <td>{{card1Rewards}}</td>
                <td>{{card2Rewards}}</td>
                <td>{{card3Rewards}}</td>
            </tr>


            {{!-- cashback --}}
            <tr>
                <th scope="row">Cashback</th>
                <td>{{card1Cashback}}</td>
                <td>{{card2Cashback}}</td>
                <td>{{card3Cashback}}</td>

            </tr>
        </tbody>
    </table>

</div>